<div class="span-12 last center">
  <h2>Project list</h2>
  <ul class="project_list">
    <% @projects.each do | id, project| %>
      <li><a href=<%="project/#{id}" %>><%= project['name'] %></a></li>
    <% end %>
  </ul>
</div>
