<center><h1><%= @project['name'] %></h1></center>

<form method="post" action="/project/<%= @project['id'] %>/pull">
  <fieldset class="pull">
    <legend>Pull Changes Into Production</legend>
    <input type="hidden" name="repo" value="production_repo" />
    <button>Pull Changes</button>
  </fieldset>
</form>
