<center><h1><%= @project['name'] %></h1></center>

<fieldset class="pull">
  <legend>Pull Changes Into Test</legend>
  <h3><a href="/project/<%= @project['id'] %>/pull">Pull Changes</a></h3>
</fieldset>

