<form method="post" action="/project/<%= @project['id'] %>/pull">
  <fieldset class="pull">
    <legend>Pull Changes Into Test</legend>
    <input type="hidden" name="repo" value="test_repo" />
    <button>Pull Changes</button>
  </fieldset>
</form>

