.container {
    margin-top: 10px;
} textarea {
    height: 100px;
    width: 422px;
} .pull {
    text-align: center;
    width: 918px;
} .right_field{
    height: 146px;
    text-align: center;
} .right_field button {
    margin-top: 10%;
} .project_list {
    font-size: 200%;
} .project_list li {
    margin-top: 20px;
} .centered {
    text-align: center;
    font-size: 200%;
} .left_bar {
    font-size: 85%;
    border-right: 1px solid;
    border-color: gray;
} footer {
    text-align: center;
    clear: both;
    font-size: 125%;
    padding-top: 25px;
    padding-bottom: 5px;
} div.login {
    width: 400px;
    text-align: center;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
} .login li {
    list-style: none;
} .notices {
    height: 46px;
    font-weight: bold;  
    width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
} .title {
    text-align: center;
    font-size: 300%;
}