.container {
    margin-top: 10px;
} textarea {
    height: 100px;
    width: 422px;
} .pull {
    text-align: center;
    width: 918px;
} .right_field{
    height: 46px;
} .project_list {
    font-size: 200%;
} .project_list li {
    margin-top: 20px;
} .centered {
    text-align: center;
    font-size: 200%;
} .left_bar {
    font-size: 85%;
    border-right: 1px solid;
    border-color: gray;
} footer {
    text-align: center;
    clear: both;
    font-size: 125%;
    padding-top: 25px;
    padding-bottom: 5px;
}